<header id="header" class="pt-7">
	<svg id="background-waves" xmlns="http://www.w3.org/2000/svg">
	  <rect id="background-solid" fill="#0e3345" />
	  <path class="waves" fill="#0e3345" />
	  <path class="st0" d="M0,0c54.6,0,125.1,9.6,201.3,46.1c130.8,62.6,278.2,171,389.7,171c176.5,0,286-87.5,356.5-108s206-18,262.5-41.5s70-49,70-49V0H0z" fill="#000"/>
	</svg>
	<svg id="particles-header" class="particles-wrapper mt-6" viewBox="0 0 830 555">
		<g class="particles">
			<circle class="particle outlined" cx="229.1" cy="498.7" r="9"/>
			<line class="particle outlined" x1="556.1" y1="489.7" x2="538.9" y2="519.6"/>
			<line class="particle outlined" x1="795.1" y1="263.7" x2="777.9" y2="293.6"/>
			<line class="particle outlined" x1="39.1" y1="195.7" x2="4.1" y2="256.3"/>
			<line class="particle outlined" x1="20.1" y1="156.7" x2="2.9" y2="186.6"/>
			<line class="particle outlined" x1="571.1" y1="493.7" x2="536.1" y2="554.3"/>
			<line class="particle outlined" x1="425.1" y1="285.7" x2="407.2" y2="316.7"/>
			<circle fill="black" class="particle outlined to-fill" cx="400.1" cy="7.7" r="7"/>
			<circle fill="black" class="particle outlined to-fill" cx="800" cy="82.7" r="7"/>
			<circle fill="black" class="particle outlined to-fill" cx="11.1" cy="75.7" r="7"/>
			<circle class="particle outlined" cx="177.1" cy="59.7" r="9"/>
			<polygon class="particle outlined" points="766.2,40.7 758.1,54.7 750,40.7"/>
			<polygon class="particle outlined" points="136.2,337.7 128.1,351.7 120,337.7"/>
			<polygon fill="black" class="particle outlined to-fill" points="813,148.7 821.1,134.7 829.2,148.7"/>
			<polygon fill="black" class="particle outlined to-fill" points="503,89.7 511.1,75.7 519.2,89.7"/>
			<polygon fill="black" class="particle outlined to-fill" points="17.7,449.7 28.1,431.7 38.5,449.7"/>
		</g>
	</svg>
	<div class="container pt-8">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8 text-center">
				<h1 class="display-4 text-uppercase text-white mb-7">Illegal firework possesion and usage</h1>
				<div class="container-fluid">
					<div class="row justify-content-center">
						<div class="col-12 col-md-8">
							<p class="text-white sub-heading mb-7">Curious to see how many violations have been made in the past years?</p>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-light btn-transparent mt-8">Primary</button>
			</div>
		</div>
	</div>
</header>