<div id="loading" class="d-flex flex-row align-items-center justify-content-center">
	<div class="position-relative">
		<svg id="loading-illustration" viewBox="0 0 185 245" width="185" height="245" style="overflow: visible;">
			<style type="text/css">
				.red-paths{fill:#E52941;stroke:#0E3345;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
				.loading-path{fill:none;stroke:#0E3345;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
				.white-paths{fill:#FFFFFF;stroke:#0E3345;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
			</style>
			<path id="loading-path" class="loading-path" d="M67.8,163.3c0,0-2.3,5.2-6.8,10.9c-4.5,5.7-14.5,5-19.7,11.6c-5.1,6.6-6.1,15.8-6.1,15.8l0,0
		c0,0-0.5,9.3-5.3,16.1c-4.8,6.9-14.9,6.7-19.1,12.6c-4.2,5.9-6.2,11.3-6.2,11.3"/>
			<g id="rocket">
				<path class="red-paths" d="M179.9,3.3l0.5,64.8c-7.4,6.3-24.4,3.3-40-7.6c-0.1-0.1-0.5-0.4-0.7-0.5c-15.5-10.9-24.2-25.8-20.8-35
					L179.9,3.3z"/>
				<path class="red-paths" d="M67.8,163.3c-12.4-8.7-18.8-20.8-14.3-27.2l5.3-7.6c32.5,22.8,60.2,9.4,60.2,9.4l-20.7,29.6
					C93.8,173.8,80.2,172,67.8,163.3z"/>
				<path class="white-paths" d="M138.6,109.9l-19.6,28c0,0-27.7,13.4-60.2-9.4l19.6-28C110.9,123.3,138.6,109.9,138.6,109.9z"/>
				<path class="red-paths" d="M158.2,81.9l-19.6,28c0,0-27.7,13.4-60.2-9.4l19.6-28C130.5,95.3,158.2,81.9,158.2,81.9z"/>
				<path class="white-paths" d="M139.7,60c0.1,0.1,0.6,0.4,0.7,0.5c8.7,6.1,17.8,9.7,25.4,10.6l-7.6,10.8c0,0-27.7,13.4-60.2-9.4l23-32.8
					C124.5,46.6,131,53.9,139.7,60z"/>
			</g>
		</svg>
		<svg id="burning-illustration" viewBox="0 0 43 43" width="43" height="43">
			<style type="text/css">
				.burning-line{fill:none;stroke:#E52941;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
			</style>
			<g>
				<line class="burning-line" x1="18.5" y1="28.5" x2="12.5" y2="41.5"/>
				<line class="burning-line" x1="24.3" y1="28.6" x2="29.3" y2="42"/>
				<line class="burning-line" x1="28.5" y1="24.5" x2="41.5" y2="30.5"/>
				<line class="burning-line" x1="14.5" y1="18.5" x2="1.5" y2="12.5"/>
				<line class="burning-line" x1="14.4" y1="24.3" x2="1" y2="29.3"/>
			</g>
		</svg>
	</div>
</div>