$btn-padding-y: spacer(3);

$btn-padding-y-sm: 0;
$btn-padding-x-sm: 0;
$btn-line-height-sm: 31px;

$btn-box-shadow: none;
$btn-focus-box-shadow: $btn-box-shadow;
$btn-active-box-shadow: $btn-box-shadow;
$btn-focus-width: 0;