#header {
	position: relative;
	
	#background-waves {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	#particles-header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: auto;
	}
}