#header {
	position: relative;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
	z-index: 1;
	
	#background-waves {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	#particles-header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: auto;
	}
}