#particles-header {
	min-width: 1px;
	max-width: 840px;
	min-height: 1px;
	max-height: 555px;
}

#firework-particles {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.particles {
	.particle {
		opacity: 0;
	}

	.outlined {
	    fill: transparent;
	    stroke: #E52941;
	    stroke-width: 2;
	    stroke-miterlimit: 10;
	}

	.to-fill {
		transition: fill .3s ease-in-out;
	}

	.filled {
		fill: #E52941;
	}
}